USE [DotaDropDb]
GO
/****** Объект:  Table [dbo].[BattlePassLevels]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BattlePassLevels](
	[LevelId] [int] IDENTITY(1,1) NOT NULL,
	[LevelNumber] [int] NOT NULL,
	[RewardCaseId] [int] NULL,
	[RewardCurrency] [int] NULL,
	[RewardText] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[LevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[BattlePassQuests]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BattlePassQuests](
	[QuestId] [int] IDENTITY(1,1) NOT NULL,
	[LevelId] [int] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[GoalType] [nvarchar](50) NOT NULL,
	[GoalValue] [int] NOT NULL,
	[RequiredCaseId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[CaseItems]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaseItems](
	[CaseItemsId] [int] IDENTITY(1,1) NOT NULL,
	[CaseId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[DropWeight] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CaseItemsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Cases]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cases](
	[CaseId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[Currency] [nvarchar](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[CrashGames]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CrashGames](
	[GameId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[BetAmount] [decimal](18, 2) NOT NULL,
	[CrashMultiplier] [decimal](18, 2) NOT NULL,
	[CashoutMultiplier] [decimal](18, 2) NULL,
	[WinAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[FinishedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Items]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Rarity] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[LiveDrops]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LiveDrops](
	[DropId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[CaseId] [int] NULL,
	[DroppedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DropId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[MinesGames]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MinesGames](
	[GameId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[BetAmount] [decimal](18, 2) NOT NULL,
	[MinesCount] [int] NOT NULL,
	[CurrentMultiplier] [decimal](18, 4) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[FinishedAt] [datetime2](7) NULL,
	[GridSize] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[MinesGrid]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MinesGrid](
	[GridId] [int] IDENTITY(1,1) NOT NULL,
	[GameId] [int] NOT NULL,
	[CellIndex] [int] NOT NULL,
	[IsMine] [bit] NOT NULL,
	[IsRevealed] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GridId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[UserBattlePassQuests]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserBattlePassQuests](
	[UserQuestId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[QuestId] [int] NOT NULL,
	[CurrentProgress] [int] NOT NULL,
	[IsCompleted] [bit] NOT NULL,
	[IsRewardClaimed] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserQuestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[UserFreeCases]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFreeCases](
	[FreeCaseId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CaseId] [int] NOT NULL,
	[GrantedAt] [datetime] NOT NULL,
	[IsUsed] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FreeCaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[UserInventory]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInventory](
	[InventoryId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[DroppedAt] [datetime2](7) NOT NULL,
	[IsClaimed] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Users]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[IsEmailConfirmed] [bit] NOT NULL,
	[EmailConfirmationCode] [nvarchar](10) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[BattlePassBalance] [int] NOT NULL,
	[BestDropItemId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[WheelGames]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WheelGames](
	[GameId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[BetAmount] [decimal](18, 2) NOT NULL,
	[TargetColor] [nvarchar](20) NOT NULL,
	[WonColor] [nvarchar](20) NOT NULL,
	[Multiplier] [decimal](18, 2) NOT NULL,
	[WinAmount] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BattlePassLevels] ON 

INSERT [dbo].[BattlePassLevels] ([LevelId], [LevelNumber], [RewardCaseId], [RewardCurrency], [RewardText]) VALUES (1, 1, 23, NULL, N'Открой Regeneration rune 1 раз')
INSERT [dbo].[BattlePassLevels] ([LevelId], [LevelNumber], [RewardCaseId], [RewardCurrency], [RewardText]) VALUES (2, 2, 37, NULL, N'Открой Bronze case 2 раза')
INSERT [dbo].[BattlePassLevels] ([LevelId], [LevelNumber], [RewardCaseId], [RewardCurrency], [RewardText]) VALUES (3, 3, 1, NULL, N'Открой Test Case 1 раз')
SET IDENTITY_INSERT [dbo].[BattlePassLevels] OFF
GO
SET IDENTITY_INSERT [dbo].[BattlePassQuests] ON 

INSERT [dbo].[BattlePassQuests] ([QuestId], [LevelId], [Name], [Description], [GoalType], [GoalValue], [RequiredCaseId]) VALUES (1, 1, N'Первый шаг и последний', N'Открой Regeneration rune 1 раз', N'OpenSpecificCase', 1, 23)
INSERT [dbo].[BattlePassQuests] ([QuestId], [LevelId], [Name], [Description], [GoalType], [GoalValue], [RequiredCaseId]) VALUES (2, 2, N'Бронзовый век(0_0)', N'Открой Bronze case 2 раза', N'OpenSpecificCase', 2, 37)
INSERT [dbo].[BattlePassQuests] ([QuestId], [LevelId], [Name], [Description], [GoalType], [GoalValue], [RequiredCaseId]) VALUES (3, 3, N'Тест-драйв(КАКОЙ ТЕКСТДРАФ)', N'Открой Test Case 1 раз', N'OpenSpecificCase', 1, 1)
SET IDENTITY_INSERT [dbo].[BattlePassQuests] OFF
GO
SET IDENTITY_INSERT [dbo].[CaseItems] ON 

INSERT [dbo].[CaseItems] ([CaseItemsId], [CaseId], [ItemId], [DropWeight]) VALUES (1, 1, 1, 200)
INSERT [dbo].[CaseItems] ([CaseItemsId], [CaseId], [ItemId], [DropWeight]) VALUES (2, 1, 2, 200)
INSERT [dbo].[CaseItems] ([CaseItemsId], [CaseId], [ItemId], [DropWeight]) VALUES (3, 1, 3, 200)
GO
SET IDENTITY_INSERT [dbo].[CaseItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Cases] ON 

INSERT [dbo].[Cases] ([CaseId], [Name], [Price], [ImageUrl], [Currency]) VALUES (1, N'Test Case', CAST(5.00 AS Decimal(18, 2)), N'assets/cases/midascase.avif', N'USD')
INSERT [dbo].[Cases] ([CaseId], [Name], [Price], [ImageUrl], [Currency]) VALUES (2, N'Double Impact', CAST(10.00 AS Decimal(18, 2)), N'assets/cases/DoubleImpact.avif', N'USD')
INSERT [dbo].[Cases] ([CaseId], [Name], [Price], [ImageUrl], [Currency]) VALUES (3, N'Turbo', CAST(12.00 AS Decimal(18, 2)), N'assets/cases/Turbo.avif', N'USD')
SET IDENTITY_INSERT [dbo].[Cases] OFF
GO
SET IDENTITY_INSERT [dbo].[CrashGames] ON 

INSERT [dbo].[CrashGames] ([GameId], [UserId], [BetAmount], [CrashMultiplier], [CashoutMultiplier], [WinAmount], [Status], [CreatedAt], [FinishedAt]) VALUES (321, 1, CAST(1.00 AS Decimal(18, 2)), CAST(18.89 AS Decimal(18, 2)), CAST(1.22 AS Decimal(18, 2)), CAST(1.22 AS Decimal(18, 2)), N'Won', CAST(N'2026-10-07T07:32:58.7633333' AS DateTime2), CAST(N'2026-10-07T07:32:59.8666667' AS DateTime2))
INSERT [dbo].[CrashGames] ([GameId], [UserId], [BetAmount], [CrashMultiplier], [CashoutMultiplier], [WinAmount], [Status], [CreatedAt], [FinishedAt]) VALUES (322, 1, CAST(1.00 AS Decimal(18, 2)), CAST(1.03 AS Decimal(18, 2)), NULL, CAST(0.00 AS Decimal(18, 2)), N'Crashed', CAST(N'2026-10-07T07:33:19.7566667' AS DateTime2), CAST(N'2026-10-07T07:33:19.9300000' AS DateTime2))
INSERT [dbo].[CrashGames] ([GameId], [UserId], [BetAmount], [CrashMultiplier], [CashoutMultiplier], [WinAmount], [Status], [CreatedAt], [FinishedAt]) VALUES (323, 1, CAST(1.00 AS Decimal(18, 2)), CAST(2.62 AS Decimal(18, 2)), CAST(1.10 AS Decimal(18, 2)), CAST(1.10 AS Decimal(18, 2)), N'Won', CAST(N'2026-10-07T07:33:20.7700000' AS DateTime2), CAST(N'2026-10-07T07:33:21.3066667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CrashGames] OFF
GO
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([ItemId], [Name], [ImageUrl], [Price], [Rarity]) VALUES (1, N'Arms of Desolation', N'assets/images/ArmsofDesolation.avif', CAST(11.47 AS Decimal(18, 2)), N'Immortal')
INSERT [dbo].[Items] ([ItemId], [Name], [ImageUrl], [Price], [Rarity]) VALUES (2, N'Origins of Faith', N'assets/images/OriginsofFaith.avif', CAST(6.08 AS Decimal(18, 2)), N'Immortal')
INSERT [dbo].[Items] ([ItemId], [Name], [ImageUrl], [Price], [Rarity]) VALUES (3, N'Reaper''s Wreath', N'assets/images/ReapersWreath.avif', CAST(10.69 AS Decimal(18, 2)), N'Immortal')
GO
SET IDENTITY_INSERT [dbo].[Items] OFF
GO
SET IDENTITY_INSERT [dbo].[LiveDrops] ON 

INSERT [dbo].[LiveDrops] ([DropId], [UserId], [ItemId], [CaseId], [DroppedAt]) VALUES (165, 1, 496, 37, CAST(N'2026-10-07T07:36:06.3600000' AS DateTime2))
INSERT [dbo].[LiveDrops] ([DropId], [UserId], [ItemId], [CaseId], [DroppedAt]) VALUES (166, 1, 270, 37, CAST(N'2026-10-07T07:36:12.7233333' AS DateTime2))
INSERT [dbo].[LiveDrops] ([DropId], [UserId], [ItemId], [CaseId], [DroppedAt]) VALUES (167, 1, 371, 37, CAST(N'2026-10-07T07:36:24.5200000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[LiveDrops] OFF
GO
SET IDENTITY_INSERT [dbo].[MinesGames] ON 

INSERT [dbo].[MinesGames] ([GameId], [UserId], [BetAmount], [MinesCount], [CurrentMultiplier], [Status], [CreatedAt], [FinishedAt], [GridSize]) VALUES (385, 1, CAST(1.00 AS Decimal(18, 2)), 5, CAST(1.2400 AS Decimal(18, 4)), N'Lost', CAST(N'2026-10-07T08:36:38.3800000' AS DateTime2), CAST(N'2026-10-07T08:36:39.7266667' AS DateTime2), 5)
INSERT [dbo].[MinesGames] ([GameId], [UserId], [BetAmount], [MinesCount], [CurrentMultiplier], [Status], [CreatedAt], [FinishedAt], [GridSize]) VALUES (386, 1, CAST(1.00 AS Decimal(18, 2)), 5, CAST(1.2400 AS Decimal(18, 4)), N'Lost', CAST(N'2026-10-07T08:36:40.5866667' AS DateTime2), CAST(N'2026-10-07T08:36:41.5400000' AS DateTime2), 5)
INSERT [dbo].[MinesGames] ([GameId], [UserId], [BetAmount], [MinesCount], [CurrentMultiplier], [Status], [CreatedAt], [FinishedAt], [GridSize]) VALUES (387, 1, CAST(1.00 AS Decimal(18, 2)), 5, CAST(1.0000 AS Decimal(18, 4)), N'Lost', CAST(N'2026-10-07T08:36:42.0966667' AS DateTime2), CAST(N'2026-10-07T08:36:42.5566667' AS DateTime2), 5)
SET IDENTITY_INSERT [dbo].[MinesGames] OFF
GO
SET IDENTITY_INSERT [dbo].[MinesGrid] ON 

INSERT [dbo].[MinesGrid] ([GridId], [GameId], [CellIndex], [IsMine], [IsRevealed]) VALUES (9845, 385, 0, 0, 0)
INSERT [dbo].[MinesGrid] ([GridId], [GameId], [CellIndex], [IsMine], [IsRevealed]) VALUES (9846, 385, 1, 0, 0)
INSERT [dbo].[MinesGrid] ([GridId], [GameId], [CellIndex], [IsMine], [IsRevealed]) VALUES (9847, 385, 2, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[MinesGrid] OFF
GO
SET IDENTITY_INSERT [dbo].[UserInventory] ON 

INSERT [dbo].[UserInventory] ([InventoryId], [UserId], [ItemId], [DroppedAt], [IsClaimed]) VALUES (165, 1, 496, CAST(N'2026-10-07T07:36:06.3600000' AS DateTime2), 1)
INSERT [dbo].[UserInventory] ([InventoryId], [UserId], [ItemId], [DroppedAt], [IsClaimed]) VALUES (166, 1, 270, CAST(N'2026-10-07T07:36:12.7233333' AS DateTime2), 1)
INSERT [dbo].[UserInventory] ([InventoryId], [UserId], [ItemId], [DroppedAt], [IsClaimed]) VALUES (167, 1, 371, CAST(N'2026-10-07T07:36:24.5200000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[UserInventory] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [Email], [PasswordHash], [Balance], [Role], [IsEmailConfirmed], [EmailConfirmationCode], [CreatedAt], [BattlePassBalance], [BestDropItemId]) VALUES (1, N'test1', N'margoacc8@gmail.com', N'$2a$11$YC/OoLAwKKexFyfw/czc6.I1Lhg0RIJu./hSKDtaL2cWmrUWD1RCe', CAST(3575.18 AS Decimal(18, 2)), N'User', 1, NULL, CAST(N'2026-10-07T06:47:16.3366667' AS DateTime2), 0, 19)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[WheelGames] ON 

INSERT [dbo].[WheelGames] ([GameId], [UserId], [BetAmount], [TargetColor], [WonColor], [Multiplier], [WinAmount], [CreatedAt]) VALUES (42, 1, CAST(12.00 AS Decimal(18, 2)), N'Silver', N'Gold', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-10-07T08:36:31.0266667' AS DateTime2))
INSERT [dbo].[WheelGames] ([GameId], [UserId], [BetAmount], [TargetColor], [WonColor], [Multiplier], [WinAmount], [CreatedAt]) VALUES (43, 1, CAST(1.00 AS Decimal(18, 2)), N'Blue', N'Brown', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-10-08T06:38:25.4066667' AS DateTime2))
INSERT [dbo].[WheelGames] ([GameId], [UserId], [BetAmount], [TargetColor], [WonColor], [Multiplier], [WinAmount], [CreatedAt]) VALUES (44, 1, CAST(1.00 AS Decimal(18, 2)), N'Brown', N'Brown', CAST(2.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)), CAST(N'2026-10-08T12:46:45.7933333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[WheelGames] OFF
GO
/****** Объект:  Index [UQ__BattlePa__C32169FCAF1D0136]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
ALTER TABLE [dbo].[BattlePassLevels] ADD UNIQUE NONCLUSTERED 
(
	[LevelNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [UQ_Game_Cell]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
ALTER TABLE [dbo].[MinesGrid] ADD  CONSTRAINT [UQ_Game_Cell] UNIQUE NONCLUSTERED 
(
	[GameId] ASC,
	[CellIndex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [UQ_User_Quest]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
ALTER TABLE [dbo].[UserBattlePassQuests] ADD  CONSTRAINT [UQ_User_Quest] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[QuestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Users__536C85E437AAAC96]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Users__A9D1053475C40716]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BattlePassQuests] ADD  DEFAULT ((1)) FOR [GoalValue]
GO
ALTER TABLE [dbo].[CaseItems] ADD  DEFAULT ((100)) FOR [DropWeight]
GO
ALTER TABLE [dbo].[Cases] ADD  CONSTRAINT [DF_Cases_Currency]  DEFAULT ('USD') FOR [Currency]
GO
ALTER TABLE [dbo].[CrashGames] ADD  DEFAULT ((0)) FOR [WinAmount]
GO
ALTER TABLE [dbo].[CrashGames] ADD  DEFAULT ('InGame') FOR [Status]
GO
ALTER TABLE [dbo].[CrashGames] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ('Common') FOR [Rarity]
GO
ALTER TABLE [dbo].[LiveDrops] ADD  DEFAULT (getutcdate()) FOR [DroppedAt]
GO
ALTER TABLE [dbo].[MinesGames] ADD  DEFAULT ((1.0000)) FOR [CurrentMultiplier]
GO
ALTER TABLE [dbo].[MinesGames] ADD  DEFAULT ('InGame') FOR [Status]
GO
ALTER TABLE [dbo].[MinesGames] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MinesGames] ADD  DEFAULT ((5)) FOR [GridSize]
GO
ALTER TABLE [dbo].[MinesGrid] ADD  DEFAULT ((0)) FOR [IsMine]
GO
ALTER TABLE [dbo].[MinesGrid] ADD  DEFAULT ((0)) FOR [IsRevealed]
GO
ALTER TABLE [dbo].[UserBattlePassQuests] ADD  DEFAULT ((0)) FOR [CurrentProgress]
GO
ALTER TABLE [dbo].[UserBattlePassQuests] ADD  DEFAULT ((0)) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[UserBattlePassQuests] ADD  DEFAULT ((0)) FOR [IsRewardClaimed]
GO
ALTER TABLE [dbo].[UserFreeCases] ADD  DEFAULT (getutcdate()) FOR [GrantedAt]
GO
ALTER TABLE [dbo].[UserFreeCases] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[UserInventory] ADD  DEFAULT (getutcdate()) FOR [DroppedAt]
GO
ALTER TABLE [dbo].[UserInventory] ADD  DEFAULT ((0)) FOR [IsClaimed]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0.00)) FOR [Balance]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsEmailConfirmed]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [BattlePassBalance]
GO
ALTER TABLE [dbo].[WheelGames] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BattlePassLevels]  WITH CHECK ADD  CONSTRAINT [FK_BattlePassLevels_Cases] FOREIGN KEY([RewardCaseId])
REFERENCES [dbo].[Cases] ([CaseId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[BattlePassLevels] CHECK CONSTRAINT [FK_BattlePassLevels_Cases]
GO
ALTER TABLE [dbo].[BattlePassQuests]  WITH CHECK ADD  CONSTRAINT [FK_BattlePassQuests_Cases] FOREIGN KEY([RequiredCaseId])
REFERENCES [dbo].[Cases] ([CaseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BattlePassQuests] CHECK CONSTRAINT [FK_BattlePassQuests_Cases]
GO
ALTER TABLE [dbo].[BattlePassQuests]  WITH CHECK ADD  CONSTRAINT [FK_BattlePassQuests_Levels] FOREIGN KEY([LevelId])
REFERENCES [dbo].[BattlePassLevels] ([LevelId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BattlePassQuests] CHECK CONSTRAINT [FK_BattlePassQuests_Levels]
GO
ALTER TABLE [dbo].[CaseItems]  WITH CHECK ADD FOREIGN KEY([CaseId])
REFERENCES [dbo].[Cases] ([CaseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CaseItems]  WITH CHECK ADD FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([ItemId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CrashGames]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[LiveDrops]  WITH NOCHECK ADD FOREIGN KEY([CaseId])
REFERENCES [dbo].[Cases] ([CaseId])
GO
ALTER TABLE [dbo].[LiveDrops]  WITH NOCHECK ADD FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([ItemId])
GO
ALTER TABLE [dbo].[LiveDrops]  WITH NOCHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[MinesGames]  WITH CHECK ADD  CONSTRAINT [FK_MinesGames_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MinesGames] CHECK CONSTRAINT [FK_MinesGames_Users]
GO
ALTER TABLE [dbo].[MinesGrid]  WITH CHECK ADD  CONSTRAINT [FK_MinesGrid_Games] FOREIGN KEY([GameId])
REFERENCES [dbo].[MinesGames] ([GameId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MinesGrid] CHECK CONSTRAINT [FK_MinesGrid_Games]
GO
ALTER TABLE [dbo].[UserBattlePassQuests]  WITH CHECK ADD  CONSTRAINT [FK_UserBPQuests_Quests] FOREIGN KEY([QuestId])
REFERENCES [dbo].[BattlePassQuests] ([QuestId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserBattlePassQuests] CHECK CONSTRAINT [FK_UserBPQuests_Quests]
GO
ALTER TABLE [dbo].[UserBattlePassQuests]  WITH CHECK ADD  CONSTRAINT [FK_UserBPQuests_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserBattlePassQuests] CHECK CONSTRAINT [FK_UserBPQuests_Users]
GO
ALTER TABLE [dbo].[UserFreeCases]  WITH CHECK ADD  CONSTRAINT [FK_UserFreeCases_Cases] FOREIGN KEY([CaseId])
REFERENCES [dbo].[Cases] ([CaseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserFreeCases] CHECK CONSTRAINT [FK_UserFreeCases_Cases]
GO
ALTER TABLE [dbo].[UserFreeCases]  WITH CHECK ADD  CONSTRAINT [FK_UserFreeCases_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserFreeCases] CHECK CONSTRAINT [FK_UserFreeCases_Users]
GO
ALTER TABLE [dbo].[UserInventory]  WITH NOCHECK ADD FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([ItemId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserInventory]  WITH NOCHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_BestDropItem] FOREIGN KEY([BestDropItemId])
REFERENCES [dbo].[Items] ([ItemId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_BestDropItem]
GO
ALTER TABLE [dbo].[WheelGames]  WITH CHECK ADD  CONSTRAINT [FK_WheelGames_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WheelGames] CHECK CONSTRAINT [FK_WheelGames_Users]
GO
ALTER TABLE [dbo].[Cases]  WITH CHECK ADD  CONSTRAINT [CK_Cases_Currency] CHECK  (([Currency]='BP' OR [Currency]='USD'))
GO
ALTER TABLE [dbo].[Cases] CHECK CONSTRAINT [CK_Cases_Currency]
GO
/****** Объект:  StoredProcedure [dbo].[sp_ConfirmEmail]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ConfirmEmail]
    @Email NVARCHAR(256),
    @ConfirmationCode NVARCHAR(6)
AS
BEGIN
    SET NOCOUNT ON;

    -- Проверяем существование пользователя с таким email и кодом
    IF EXISTS (
        SELECT 1 
        FROM [dbo].[Users] 
        WHERE [Email] = @Email 
          AND [EmailConfirmationCode] = @ConfirmationCode
          AND [IsEmailConfirmed] = 0
    )
    BEGIN
        -- Обновляем статус подтверждения
        UPDATE [dbo].[Users]
        SET [IsEmailConfirmed] = 1,
            [EmailConfirmationCode] = NULL
        WHERE [Email] = @Email;

        -- Возвращаем полный объект для маппинга в UserDto
        SELECT 
            [UserId], 
            [Username] AS [UserName], 
            [Email] AS [UserEmail], 
            [PasswordHash],
            [Balance],
            ISNULL([BattlePassBalance], 0) AS [BattlePassBalance],
            [Role],
            [IsEmailConfirmed]
        FROM [dbo].[Users]
        WHERE [Email] = @Email;
    END
    ELSE
    BEGIN
        -- Ошибка: неверный код или почта уже подтверждена
        RAISERROR('Invalid email or confirmation code.', 16, 1);
    END
END
GO
/****** Объект:  StoredProcedure [dbo].[sp_CrashCashout]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Вывод денег (Cashout)
CREATE PROCEDURE [dbo].[sp_CrashCashout]
    @UserId INT,
    @GameId INT,
    @CashoutMultiplier DECIMAL(18,2),
    @WinAmount DECIMAL(18,2) OUTPUT,
    @NewBalance DECIMAL(18,2) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @BetAmount DECIMAL(18,2);
    DECLARE @CrashMultiplier DECIMAL(18,2);
    DECLARE @Status NVARCHAR(20);

    SELECT @BetAmount = BetAmount, @CrashMultiplier = CrashMultiplier, @Status = Status
    FROM CrashGames
    WHERE GameId = @GameId AND UserId = @UserId;

    IF (@Status IS NULL OR @Status != 'InGame')
    BEGIN
        RAISERROR('Игра не активна или уже завершена.', 16, 1);
        RETURN;
    END

    -- Если юзер пытается забрать ПОСЛЕ точки краша
    IF (@CashoutMultiplier > @CrashMultiplier)
    BEGIN
        UPDATE CrashGames 
        SET Status = 'Crashed', FinishedAt = GETUTCDATE()
        WHERE GameId = @GameId;

        SELECT @NewBalance = Balance FROM Users WHERE UserId = @UserId;
        SET @WinAmount = 0;
        RETURN;
    END

    -- Успешный забор денег
    SET @WinAmount = ROUND(@BetAmount * @CashoutMultiplier, 2);

    UPDATE Users 
    SET Balance = Balance + @WinAmount 
    WHERE UserId = @UserId;

    UPDATE CrashGames 
    SET Status = 'Won', 
        CashoutMultiplier = @CashoutMultiplier, 
        WinAmount = @WinAmount, 
        FinishedAt = GETUTCDATE()
    WHERE GameId = @GameId;

    SELECT @NewBalance = Balance FROM Users WHERE UserId = @UserId;
END;
GO
/****** Объект:  StoredProcedure [dbo].[sp_CrashSetCrashed]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_CrashSetCrashed]
    @GameId INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE CrashGames

    SET
        -- Игра официально закончилась проигрышем.
        Status = 'Crashed',

        -- Запоминаем время завершения.
        FinishedAt = GETUTCDATE()

    WHERE
        -- Меняем только конкретную игру.
        GameId = @GameId

        -- =====================================================
        -- САМАЯ ВАЖНАЯ ПРОВЕРКА
        -- =====================================================
        --
        -- Если игра уже была:
        --
        -- Won
        --
        -- или:
        --
        -- Crashed
        --
        -- этот UPDATE ничего не сделает.
        --
        -- Это защищает от повторного завершения игры.
        AND Status = 'InGame';
END;
GO
/****** Объект:  StoredProcedure [dbo].[sp_CrashStartGame]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CrashStartGame]
    @UserId INT,
    @BetAmount DECIMAL(18,2),
    @CrashMultiplier DECIMAL(18,2),
    @GameId INT OUTPUT,
    @NewBalance DECIMAL(18,2) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON; -- Автоматический откат транзакции при сбоях

    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1. Быстрая проверка на наличие активной игры
        IF EXISTS (
            SELECT 1
            FROM CrashGames WITH (UPDLOCK)
            WHERE UserId = @UserId
              AND Status = 'InGame'
        )
        BEGIN
            RAISERROR('У вас уже есть активная игра.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- 2. Списание баланса
        UPDATE Users
        SET Balance = Balance - @BetAmount
        WHERE UserId = @UserId
          AND Balance >= @BetAmount;

        IF @@ROWCOUNT = 0
        BEGIN
            RAISERROR('Недостаточно средств на балансе.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        SELECT @NewBalance = Balance
        FROM Users
        WHERE UserId = @UserId;

        -- 3. Создание записи игры
        -- Если возникнет race condition, UNIQUE INDEX UX_CrashGames_UserId_InGame
        -- выбросит ошибку 2601/2627, и управление мгновенно передастся в CATCH.
        INSERT INTO CrashGames (
            UserId,
            BetAmount,
            CrashMultiplier,
            Status,
            CreatedAt
        )
        VALUES (
            @UserId,
            @BetAmount,
            @CrashMultiplier,
            'InGame',
            GETUTCDATE()
        );

        SET @GameId = SCOPE_IDENTITY();

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Перехватываем дубликаты от UNIQUE INDEX
        IF ERROR_NUMBER() = 2601 OR ERROR_NUMBER() = 2627
        BEGIN
            RAISERROR('У вас уже есть активная игра.', 16, 1);
            RETURN;
        END;

        THROW;
    END CATCH
END;
GO
/****** Объект:  StoredProcedure [dbo].[sp_GetUserCurrentBpLevel]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetUserCurrentBpLevel]
    @UserId INT,
    @CurrentLevel INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT @CurrentLevel = ISNULL(
        (
            SELECT TOP (1) l.LevelNumber
            FROM BattlePassLevels l
            INNER JOIN BattlePassQuests q ON l.LevelId = q.LevelId
            LEFT JOIN UserBattlePassQuests ubp ON q.QuestId = ubp.QuestId AND ubp.UserId = @UserId
            WHERE ISNULL(ubp.IsCompleted, 0) = 0
            ORDER BY l.LevelNumber ASC
        ),
        (SELECT MAX(LevelNumber) FROM BattlePassLevels)
    );
END;
GO
/****** Объект:  StoredProcedure [dbo].[sp_MinesCashout]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. Хранимая процедура: Cashout
CREATE   PROCEDURE [dbo].[sp_MinesCashout]
    @UserId INT,
    @GameId INT,
    @NewBalance DECIMAL(18, 2) OUTPUT,
    @WinAmount DECIMAL(18, 2) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRANSACTION;

    BEGIN TRY
        DECLARE @BetAmount DECIMAL(18, 2);
        DECLARE @CurrentMultiplier DECIMAL(18, 4);
        DECLARE @Status NVARCHAR(20);

        SELECT 
            @BetAmount = BetAmount,
            @CurrentMultiplier = CurrentMultiplier,
            @Status = Status
        FROM MinesGames WITH (UPDLOCK)
        WHERE GameId = @GameId AND UserId = @UserId;

        IF @Status IS NULL OR @Status != 'InGame'
        BEGIN
            RAISERROR('Игра не найдена или уже завершена.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        SET @WinAmount = CAST(@BetAmount * @CurrentMultiplier AS DECIMAL(18, 2));

        UPDATE Users SET Balance = Balance + @WinAmount WHERE UserId = @UserId;
        SELECT @NewBalance = Balance FROM Users WHERE UserId = @UserId;

        UPDATE MinesGames 
        SET Status = 'Won', FinishedAt = GETUTCDATE() 
        WHERE GameId = @GameId;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Объект:  StoredProcedure [dbo].[sp_MinesGetActiveGame]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Хранимая процедура: Получение активной игры (Добавлен GridSize)
CREATE   PROCEDURE [dbo].[sp_MinesGetActiveGame]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        GameId,
        BetAmount,
        MinesCount,
        GridSize,
        CurrentMultiplier,
        Status
    FROM MinesGames
    WHERE UserId = @UserId AND Status = 'InGame';

    IF @@ROWCOUNT > 0
    BEGIN
        SELECT CellIndex 
        FROM MinesGrid 
        WHERE GameId = (SELECT GameId FROM MinesGames WHERE UserId = @UserId AND Status = 'InGame') 
          AND IsRevealed = 1;
    END
END;
GO
/****** Объект:  StoredProcedure [dbo].[sp_MinesStartGame]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_MinesStartGame]
    @UserId INT,
    @BetAmount DECIMAL(18, 2),
    @MinesCount INT,
    @GridSize INT = 5,
    @MinesIndexesJson NVARCHAR(MAX),
    @NewBalance DECIMAL(18, 2) OUTPUT,
    @GameId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TotalCells INT = @GridSize * @GridSize;
    DECLARE @MaxMines INT = @TotalCells - 1;

    -- Валидация ставки
    IF @BetAmount <= 0
    BEGIN
        RAISERROR('Ставка должна быть больше нуля.', 16, 1);
        RETURN;
    END

    -- Валидация количества мин под ТЕКУЩИЙ GridSize
    IF @MinesCount < 1 OR @MinesCount > @MaxMines
    BEGIN
        DECLARE @ErrorMsg NVARCHAR(200) = FORMATMESSAGE('Количество мин должно быть от 1 до %d.', @MaxMines);
        RAISERROR(@ErrorMsg, 16, 1);
        RETURN;
    END

    -- Проверяем активную игру
    IF EXISTS (SELECT 1 FROM MinesGames WHERE UserId = @UserId AND Status = 'InGame')
    BEGIN
        RAISERROR('У вас уже есть активная игра в Мины!', 16, 1);
        RETURN;
    END

    -- Проверка баланса ДО транзакции
    DECLARE @UserBalance DECIMAL(18, 2);
    SELECT @UserBalance = Balance FROM Users WITH (UPDLOCK) WHERE UserId = @UserId;

    IF @UserBalance IS NULL OR @UserBalance < @BetAmount
    BEGIN
        RAISERROR('Недостаточно средств на балансе.', 16, 1);
        RETURN;
    END

    BEGIN TRANSACTION;

    BEGIN TRY
        -- Списание ставки
        UPDATE Users SET Balance = Balance - @BetAmount WHERE UserId = @UserId;
        SELECT @NewBalance = Balance FROM Users WHERE UserId = @UserId;

        -- Сохранение игры с GridSize
        INSERT INTO MinesGames (UserId, BetAmount, MinesCount, GridSize, CurrentMultiplier, Status)
        VALUES (@UserId, @BetAmount, @MinesCount, @GridSize, 1.0000, 'InGame');
        
        SET @GameId = SCOPE_IDENTITY();

        -- Безопасное заполнение сетки без рекурсии CTE
        INSERT INTO MinesGrid (GameId, CellIndex, IsMine, IsRevealed)
        SELECT 
            @GameId,
            n.number AS CellIndex,
            CASE WHEN m.value IS NOT NULL THEN 1 ELSE 0 END AS IsMine,
            0 AS IsRevealed
        FROM (
            SELECT TOP (@TotalCells) ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) - 1 AS number
            FROM sys.all_objects a CROSS JOIN sys.all_objects b
        ) n
        LEFT JOIN OPENJSON(@MinesIndexesJson) WITH (value INT '$') m ON n.number = m.value;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Объект:  StoredProcedure [dbo].[sp_OpenCaseTransaction]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_OpenCaseTransaction]
    @UserId INT,
    @CaseId INT,
    @Amount INT = 1,
    @NewBalance DECIMAL(18, 2) OUTPUT,
    @NewBattlePassBalance INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @SingleCasePrice DECIMAL(18, 2);
    DECLARE @TotalPrice DECIMAL(18, 2);
    DECLARE @CaseCurrency NVARCHAR(10); -- Валюта кейса (USD, BP и т.д.)
    
    DECLARE @UserBalance DECIMAL(18, 2);
    DECLARE @UserBpBalance INT;

    DECLARE @IsFreeOpen BIT = 0;
    DECLARE @FreeCaseId INT = NULL;

    DECLARE @WonItems TABLE (
        InventoryId INT,
        DropId INT,
        ItemId INT
    );

    IF @Amount < 1 OR @Amount > 5
    BEGIN
        RAISERROR('Invalid amount of cases. Must be between 1 and 5.', 16, 1);
        RETURN;
    END

    BEGIN TRANSACTION;

    BEGIN TRY

        -- 1. Получаем цену и валюту кейса, а также балансы пользователя
        SELECT 
            @SingleCasePrice = Price,
            @CaseCurrency = ISNULL(Currency, 'USD')
        FROM Cases
        WHERE CaseId = @CaseId;

        SELECT 
            @UserBalance = Balance,
            @UserBpBalance = ISNULL(BattlePassBalance, 0)
        FROM Users WITH (UPDLOCK)
        WHERE UserId = @UserId;

        IF @SingleCasePrice IS NULL
        BEGIN
            RAISERROR('Case not found.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- 2. Проверяем бесплатный купон
        IF @Amount = 1
        BEGIN
            SELECT TOP 1
                @FreeCaseId = FreeCaseId
            FROM UserFreeCases WITH (UPDLOCK, ROWLOCK)
            WHERE UserId = @UserId
              AND CaseId = @CaseId
              AND IsUsed = 0
            ORDER BY GrantedAt ASC;

            IF @FreeCaseId IS NOT NULL
            BEGIN
                SET @IsFreeOpen = 1;
                SET @TotalPrice = 0;
            END
            ELSE
            BEGIN
                SET @TotalPrice = @SingleCasePrice * @Amount;
            END
        END
        ELSE
        BEGIN
            SET @TotalPrice = @SingleCasePrice * @Amount;
        END

        -- 3. Проверяем баланс для платного открытия в зависимости от валюты
        IF @IsFreeOpen = 0
        BEGIN
            IF @CaseCurrency = 'BP'
            BEGIN
                IF @UserBpBalance < CAST(@TotalPrice AS INT)
                BEGIN
                    RAISERROR('Insufficient BattlePass balance for this transaction.', 16, 1);
                    ROLLBACK TRANSACTION;
                    RETURN;
                END
            END
            ELSE
            BEGIN
                IF @UserBalance IS NULL OR @UserBalance < @TotalPrice
                BEGIN
                    RAISERROR('Insufficient balance for this transaction.', 16, 1);
                    ROLLBACK TRANSACTION;
                    RETURN;
                END
            END
        END

        -- 4. Списание денег ИЛИ использование купона
        IF @IsFreeOpen = 1
        BEGIN
            UPDATE UserFreeCases
            SET IsUsed = 1
            WHERE FreeCaseId = @FreeCaseId
              AND UserId = @UserId
              AND IsUsed = 0;

            IF @@ROWCOUNT = 0
            BEGIN
                RAISERROR('Free case has already been used.', 16, 1);
                ROLLBACK TRANSACTION;
                RETURN;
            END
        END
        ELSE
        BEGIN
            IF @CaseCurrency = 'BP'
            BEGIN
                UPDATE Users
                SET BattlePassBalance = BattlePassBalance - CAST(@TotalPrice AS INT)
                WHERE UserId = @UserId;
            END
            ELSE
            BEGIN
                UPDATE Users
                SET Balance = Balance - @TotalPrice
                WHERE UserId = @UserId;
            END
        END

        -- 5. Рассчитываем DropWeight
        DECLARE @GrandTotal INT;

        SELECT @GrandTotal = SUM(DropWeight)
        FROM CaseItems
        WHERE CaseId = @CaseId;

        IF @GrandTotal IS NULL OR @GrandTotal = 0
        BEGIN
            RAISERROR('Case has no items configured.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- 6. Генерируем предметы
        DECLARE @Counter INT = 1;

        WHILE @Counter <= @Amount
        BEGIN
            DECLARE @CurrentWonItemId INT;
            DECLARE @NewInventoryId INT;
            DECLARE @NewDropId INT;
            DECLARE @RandomWeight INT;

            SET @RandomWeight = (ABS(CHECKSUM(NEWID())) % @GrandTotal) + 1;

            ;WITH WeightedItems AS (
                SELECT
                    ItemId,
                    SUM(DropWeight) OVER (
                        ORDER BY CaseItemsId
                        ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
                    ) AS RunningTotal
                FROM CaseItems
                WHERE CaseId = @CaseId
            )
            SELECT TOP 1
                @CurrentWonItemId = ItemId
            FROM WeightedItems
            WHERE RunningTotal >= @RandomWeight
            ORDER BY RunningTotal ASC;

            INSERT INTO UserInventory (UserId, ItemId, DroppedAt, IsClaimed)
            VALUES (@UserId, @CurrentWonItemId, GETUTCDATE(), 0);
            SET @NewInventoryId = SCOPE_IDENTITY();

            INSERT INTO LiveDrops (UserId, ItemId, CaseId, DroppedAt)
            VALUES (@UserId, @CurrentWonItemId, @CaseId, GETUTCDATE());
            SET @NewDropId = SCOPE_IDENTITY();

            INSERT INTO @WonItems (InventoryId, DropId, ItemId)
            VALUES (@NewInventoryId, @NewDropId, @CurrentWonItemId);

            SET @Counter = @Counter + 1;
        END

        -- Проверяем стоимость выпавшего предмета
        DECLARE @WonItemPrice DECIMAL(18, 2);
        SELECT @WonItemPrice = Price FROM Items WHERE ItemId = @CurrentWonItemId;

        -- Получаем цену текущего лучшего дропа пользователя
        DECLARE @CurrentBestPrice DECIMAL(18, 2) = 0;

        SELECT @CurrentBestPrice = ISNULL(i.Price, 0)
        FROM Users u
        LEFT JOIN Items i ON u.BestDropItemId = i.ItemId
        WHERE u.UserId = @UserId;

        -- Если новый предмет дороже текущего рекорда — обновляем BestDropItemId
        IF @WonItemPrice > @CurrentBestPrice
        BEGIN
            UPDATE Users
            SET BestDropItemId = @CurrentWonItemId
            WHERE UserId = @UserId;
        END;




        -- 7. Battle Pass — обновляем активный квест
        DECLARE @ActiveQuestId INT;
        DECLARE @ActiveGoalType NVARCHAR(50);
        DECLARE @ActiveRequiredCaseId INT;
        DECLARE @ActiveGoalValue INT;

        SELECT TOP 1
            @ActiveQuestId = q.QuestId,
            @ActiveGoalType = q.GoalType,
            @ActiveRequiredCaseId = q.RequiredCaseId,
            @ActiveGoalValue = q.GoalValue
        FROM BattlePassLevels l
        INNER JOIN BattlePassQuests q ON l.LevelId = q.LevelId
        LEFT JOIN UserBattlePassQuests ubp ON q.QuestId = ubp.QuestId AND ubp.UserId = @UserId
        WHERE ISNULL(ubp.IsCompleted, 0) = 0
        ORDER BY l.LevelNumber ASC;

        IF @ActiveQuestId IS NOT NULL
           AND (
                @ActiveGoalType = 'OpenAnyCase'
                OR (@ActiveGoalType = 'OpenSpecificCase' AND @ActiveRequiredCaseId = @CaseId)
           )
        BEGIN
            IF NOT EXISTS (
                SELECT 1 FROM UserBattlePassQuests
                WHERE UserId = @UserId AND QuestId = @ActiveQuestId
            )
            BEGIN
                INSERT INTO UserBattlePassQuests (UserId, QuestId, CurrentProgress, IsCompleted)
                VALUES (@UserId, @ActiveQuestId, 0, 0);
            END

            UPDATE UserBattlePassQuests
            SET CurrentProgress = CurrentProgress + @Amount
            WHERE UserId = @UserId AND QuestId = @ActiveQuestId AND IsCompleted = 0;

            UPDATE UserBattlePassQuests
            SET IsCompleted = 1, CurrentProgress = @ActiveGoalValue
            WHERE UserId = @UserId AND QuestId = @ActiveQuestId 
              AND CurrentProgress >= @ActiveGoalValue AND IsCompleted = 0;
        END

        COMMIT TRANSACTION;

        -- 8. Возвращаем актуальные балансы
        SELECT 
            @NewBalance = Balance,
            @NewBattlePassBalance = ISNULL(BattlePassBalance, 0)
        FROM Users
        WHERE UserId = @UserId;

        -- 9. Возвращаем выпавшие предметы
        SELECT
            w.InventoryId,
            w.DropId,
            i.ItemId,
            i.Name,
            i.ImageUrl,
            i.Price,
            i.Rarity,
            @IsFreeOpen AS IsFreeOpen
        FROM @WonItems w
        INNER JOIN Items i ON w.ItemId = i.ItemId;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Объект:  StoredProcedure [dbo].[sp_RegisterUser]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegisterUser]
    @Username NVARCHAR(50),
    @Email NVARCHAR(100),
    @PasswordHash NVARCHAR(256),
    @EmailConfirmationCode NVARCHAR(10),
    @NewUserId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Проверка уникальности
    IF EXISTS (SELECT 1 FROM Users WHERE Email = @Email OR Username = @Username)
    BEGIN
        RAISERROR('User with this email or username already exists.', 16, 1);
        RETURN;
    END

    -- Вставка нового пользователя с начальным балансом и боевым пропуском
    INSERT INTO Users (Username, Email, PasswordHash, EmailConfirmationCode, Balance, BattlePassBalance, IsEmailConfirmed)
    VALUES (@Username, @Email, @PasswordHash, @EmailConfirmationCode, 0.00, 0, 0);

    -- Возвращаем ID нового пользователя
    SET @NewUserId = SCOPE_IDENTITY();
END;
GO
/****** Объект:  StoredProcedure [dbo].[sp_ResetPassword]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Хранимая процедура для сброса пароля по коду из email
CREATE   PROCEDURE [dbo].[sp_ResetPassword]
    @Email NVARCHAR(100),
    @ConfirmationCode NVARCHAR(10),
    @NewPasswordHash NVARCHAR(256)
AS
BEGIN
    SET NOCOUNT ON;

    -- Проверяем существование пользователя с таким Email и Кодом
    IF EXISTS (
        SELECT 1 
        FROM [dbo].[Users] 
        WHERE [Email] = @Email 
          AND [EmailConfirmationCode] = @ConfirmationCode
    )
    BEGIN
        -- Обновляем пароль и очищаем код сброса
        UPDATE [dbo].[Users]
        SET [PasswordHash] = @NewPasswordHash,
            [EmailConfirmationCode] = NULL
        WHERE [Email] = @Email;

        SELECT 1 AS Success;
    END
    ELSE
    BEGIN
        RAISERROR('Неверный код подтверждения или Email.', 16, 1);
    END
END;
GO
/****** Объект:  StoredProcedure [dbo].[sp_SellItem]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SellItem]
    @UserId INT,
    @InventoryId INT,
    @NewBalance DECIMAL(18, 2) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ItemPrice DECIMAL(18, 2);

    BEGIN TRANSACTION;
    BEGIN TRY
        -- 1. Блокируем запись предмета от параллельных кликов/запросов
        SELECT @ItemPrice = i.Price
        FROM UserInventory ui WITH (UPDLOCK, HOLDLOCK)
        INNER JOIN Items i ON ui.ItemId = i.ItemId
        WHERE ui.InventoryId = @InventoryId AND ui.UserId = @UserId;

        IF @ItemPrice IS NULL
        BEGIN
            RAISERROR('Предмет не найден в инвентаре или уже был продан.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- 2. Начисляем деньги на баланс пользователя (с блокировкой строки юзера)
        UPDATE Users WITH (UPDLOCK)
        SET Balance = Balance + @ItemPrice
        WHERE UserId = @UserId;

        -- 3. Удаляем предмет из инвентаря
        DELETE FROM UserInventory
        WHERE InventoryId = @InventoryId;

        -- 4. Получаем обновленный баланс
        SELECT @NewBalance = Balance FROM Users WHERE UserId = @UserId;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Объект:  StoredProcedure [dbo].[sp_WheelSpin]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Хранимая процедура спина Колеса (Списание баланса + Запись игры + Начисление выигрыша)
CREATE   PROCEDURE [dbo].[sp_WheelSpin]
    @UserId INT,
    @BetAmount DECIMAL(18, 2),
    @TargetColor NVARCHAR(20),
    @WonColor NVARCHAR(20),
    @Multiplier DECIMAL(18, 2),
    @WinAmount DECIMAL(18, 2),
    @NewBalance DECIMAL(18, 2) OUTPUT,
    @GameId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    IF @BetAmount <= 0
    BEGIN
        RAISERROR('Ставка должна быть больше нуля.', 16, 1);
        RETURN;
    END

    BEGIN TRANSACTION;

    BEGIN TRY
        DECLARE @UserBalance DECIMAL(18, 2);
        SELECT @UserBalance = Balance FROM Users WITH (UPDLOCK) WHERE UserId = @UserId;

        IF @UserBalance IS NULL OR @UserBalance < @BetAmount
        BEGIN
            RAISERROR('Недостаточно средств на балансе.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Списываем ставку и прибавляем выигрыш (если есть)
        UPDATE Users 
        SET Balance = Balance - @BetAmount + @WinAmount 
        WHERE UserId = @UserId;

        SELECT @NewBalance = Balance FROM Users WHERE UserId = @UserId;

        -- Фиксируем игру в истории
        INSERT INTO WheelGames (UserId, BetAmount, TargetColor, WonColor, Multiplier, WinAmount)
        VALUES (@UserId, @BetAmount, @TargetColor, @WonColor, @Multiplier, @WinAmount);

        SET @GameId = SCOPE_IDENTITY();

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Объект:  StoredProcedure [dbo].[sp_WithdrawItem]    Дата создания скрипта: 08.10.2026 17:08:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Обновляем процедуру ВЫВОДА предмета
CREATE   PROCEDURE [dbo].[sp_WithdrawItem]
    @UserId INT,
    @InventoryId INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Проверяем наличие предмета
    IF NOT EXISTS (SELECT 1 FROM UserInventory WHERE InventoryId = @InventoryId AND UserId = @UserId)
    BEGIN
        RAISERROR('Предмет не найден в инвентаре.', 16, 1);
        RETURN;
    END

    -- 👈 УДАЛЯЕМ предмет из инвентаря (он считается успешно переданным в Steam)
    DELETE FROM UserInventory
    WHERE InventoryId = @InventoryId;
END;
GO
